<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myphonemanager">

    <!-- 更新操作需添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.DataApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- application的添加 -->
        <!-- 设置SplashActivity的图标和应用名显示 区别 及多个启动页面的设置 -->
        <activity
            android:name=".SplashActivity"
            android:icon="@drawable/toux"
            android:label="Manager"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".PhoneSafeActivity"></activity>
    </application>

</manifest>
